body {
	font-family: 'Josefin Slab', cursive;
	margin:0;
}

h3 {
	font-family: 'Arizonia', cursive;
}

h1 {
	font-size: 6vw;
	color: #dadfe1;
	text-shadow: 2px 2px black;
}

.infoDump {
	text-align: justify;
	width: 50%;
	margin:0 auto;
}

.slide-in {
	opacity:0;
	transition:all 1.4s;
}

.slide-right {
	transform:translateX(-30%) scale(0.95);
}

.slide-left {
	transform:translateX(30%) scale(0.95);
}

.slide-up {
	transform:translateY(30%) scale(0.95);
}

.slide-down {
	transform:translateY(30%) scale(0.95);
}

p.slide-in {
	font-size: 2vw;
}

h3.slide-in {
	font-size:3vw;
}

h4.slide-in {
	font-size:2.5vw;
}

.slide-in.active {
	opacity:1;
	transform:translateX(0%) scale(1);
	transform: translateY(0%) scale(1);
}

.hideDown {
	opacity:0;
}

.oddPic {
	width: 45%;
}

.directionCard {
	color:white;
	flex:1;
	background-size:cover;
	background-position:center;
	background-repeat: no-repeat;
	transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s; 
}

.directionCard > * {
	transition:opacity 0.5s;
}

.directionCard.open-active > *:last-child {
	opacity:1;
}
.directionCard > p {
	background-color: rgba(0, 0, 0, 0.5)
}

.directionCard.open {
	flex: 5;
	font-size:2vw;
}

.weddingPartyCard {
	width: 30%;
	margin:5px;
	display: inline-block;;
	border-radius: 5px;
	box-shadow: 2px 2px;
	background: #dadfe1;

}

#countdown {
	position:fixed;
	display:flex;
	right:2%;
	justify-content: flex-end;
	font-size:2vw;
	flex-wrap:wrap;
	padding:none;
	z-index: 2;
}

#toHighlight {
	background: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top:0;
	box-sizing: border-box;
	border:1px solid black;
	border-top:none;
}

#splashImg {
	display: flex;
	width:100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-image: url(https://images.unsplash.com/photo-1425421598808-4a22ce59cc97?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=22178d39f5b21fd60654f6ec7a4c96f2&auto=format&fit=crop&w=1950&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#oddfellowsPicContainer {
	display:flex;
	align-items: center;
	justify-content: center;
}

#postStoryImg {
	display: flex;
	width:80%;
	margin: 0 auto;
	height: 50vh;
	justify-content: center;
	align-items: center;
	background-image: url(https://images.unsplash.com/photo-1471513671800-b09c87e1497c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=263d1948dcd0e71c59c4929e8fcf3f46&auto=format&fit=crop&w=1950&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#directionsContainer {
	width: 80%;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
}

#carDirections {
	background-image: url('https://images.unsplash.com/photo-1494905998402-395d579af36f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=40085e3ea5d8524b7518df890e4aa72d&auto=format&fit=crop&w=1950&q=80');
}

#planeDirections{
	background-image: url('https://images.unsplash.com/photo-1505015154194-2378bc9ac925?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b83afb9f76cef594f021d17356b99525&auto=format&fit=crop&w=1866&q=80');
}

#transitDirections {
	background-image: url('https://images.unsplash.com/photo-1509329502519-c7bec26f5808?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9082cc7fe29f9b490b543654a0c7be09&auto=format&fit=crop&w=1952&q=80');
}

#weddingParty {
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#registryBar {
	background-color: darkgreen;
}